
<footer id="footer">
  <i class="fab social-icon fa-facebook"></i>
  <i class="fab social-icon fa-instagram"></i>
  <i class="fab social-icon fa-twitter"></i>
  <i class="fas social-icon fa-envelope"></i>
  <p>© Copyright TomyPizza</p>
</footer>
</div>
<script type="text/javascript" src="/frontend.js">
</script>
</body>
</html>
